--color
--require spec_helper
--format progress
--format ParallelTests::RSpec::FailuresLogger --out tmp/failing_specs.log
<% if ENV['GENERATE_TEST_REPORTS'] == 'yes' %>
--require rspec_junit_formatter
--format RspecJunitFormatter --out <%= ENV['CI_REPORTS'] %>/TESTS-rspec-<%= ENV['TEST_ENV_NUMBER'] %>.xml
<% end %>
