%p
  = link_to I18n.t(:create_referral, scope: :links), referrals_path, method: :post
%p
  = link_to I18n.t(:create_person, scope: :links), new_person_path
%p
  = link_to I18n.t(:referrals, scope: :links), referrals_path, method: :get
