version: '2'

volumes:
  webroot:
    driver: local

services:
  app:
    build:
      context: ../../
      dockerfile: docker/release/Dockerfile
    volumes:
      - webroot:/ca_intake
    environment:
      RAILS_ENV: production
      API_URL: "http://app:3000"

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    links:
      - app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - webroot:/ca_intake
