!!!
%html
  %head
    %title Sorry, this is not the page you want
  %body
    %h1 Sorry, this is not the page you want
    %span It may have been deleted or doesn't exist. Please check the address or
    %br
    %a{ href:'#' } return to your dashboard
    %span .
