%h1 Alerts
%i Alerts keep users informed of important and sometimes time-sensitive changes.
.double-padded.gap-top.bg-white

%pre
  %xmp
    :erb

.double-padded.bg-white
  %h4 Accessibility
  %ul
    %li
      Use the ARIA
      %code role="alert"
      to inform assistive technologies of a time-sensitive and important message that is not interactive. If the message is interactive, use the
      %code alertdialog
      role instead.
    %li
      Do not visually hide alert messages on the page and then make them visible when they are needed. Users of older assistive technologies may still be able to perceive the alert messages even if they are not currently applicable.
