%h1 Alerts
%i Alerts keep users informed of important and sometimes time-sensitive changes.
.double-padded.border-regular-light-gray.gap-top
  .alert.alert-success{:style => "margin-top: 0;"}
    .alert-body
      %h3.alert-heading Success Status
      %p.alert-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiud.

  .alert.alert-warning
    .alert-body
      %h3.alert-heading Warning Status
      %p.alert-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiud.

  .alert.alert-danger{:role => "alert"}
    .alert-body
      %h3.alert-heading Error Status
      %p.alert-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiud.

  .alert.alert-info
    .alert-body
      %h3.alert-heading Information Status
      %p.alert-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiud.

  .alert.alert-info{:style => "margin-bottom: 0;"}
    .alert-body
      %h3.alert-heading Information Status
      %p.alert-text Multi line. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui atione voluptatem sequi nesciunt. Neque porro quisquam est, qui doloremipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

%pre
  %code
    :preserve
      .alert.alert-success
        .alert-body
          %h3.alert-heading Success Status
          %p.alert-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiud.

      .alert.alert-warning
       .alert-body
          %h3.alert-heading Warning Status
          %p.alert-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiud.

      .alert.alert-danger{:role => "alert"}
        .alert-body
          %h3.alert-heading Error Status
          %p.alert-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiud.

      .alert.alert-info
        .alert-body
          %h3.alert-heading Information Status
          %p.alert-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiud.

      .alert.alert-info
        .alert-body
          %h3.alert-heading Information Status
          %p.alert-text Multi line. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui atione voluptatem sequi nesciunt. Neque porro quisquam est, qui doloremipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

.double-padded.border-regular-light-gray
  %h4 Accessibility
  %ul
    %li
      Use the ARIA 
      %code role="alert"
      to inform assistive technologies of a time-sensitive and important message that is not interactive. If the message is interactive, use the 
      %code alertdialog 
      role instead.
    %li
      Do not visually hide alert messages on the page and then make them visible when they are needed. Users of older assistive technologies may still be able to perceive the alert messages even if they are not currently applicable.