%h1 Alerts
%i Alerts keep users informed of important and sometimes time-sensitive changes.

.alert.alert-success
  .alert-body
    %h3.alert-heading Success Status
    %p.alert-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
.alert.alert-warning
  .alert-body
    %h3.alert-heading Warning Status
    %p.alert-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
.alert.alert-danger{:role => "alert"}
  .alert-body
    %h3.alert-heading Error Status
    %p.alert-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
.alert.alert-info
  .alert-body
    %h3.alert-heading Information Status
    %p.alert-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
.alert.alert-info
  .alert-body
    %h3.alert-heading Information Status
    %p.alert-text Multi line. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui atione voluptatem sequi nesciunt. Neque porro quisquam est, qui doloremipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
