%h1
 Borders

.padded.border-thin-light-gray.gap-bottom Thin light gray border

.padded.border-thin-dark-gray.gap-bottom Thin dark gray border

.padded.border-regular-light-gray.gap-bottom Regular light gray border

.padded.border-regular-dark-gray.gap-bottom Regular dark gray border