%h1 Cards

.double-padded.bg-white.gap-top
  .card.show
    .card-header
      %span Profile Information
      %a.pull-right{ href: '#', 'aria-label': 'Done editing profile' }
        %i.fa.fa-pencil
    .card-body
      .row
        .col-md-4
          %label
            First name
          .c-gray
            John
        .col-md-4
          %label
            Middle name
          .c-gray
            James
        .col-md-4
          %label
            Last name
          .c-gray
            Smith
      .row
        .col-md-4
          %label
            Gender
          .c-gray
            Male
        .col-md-4
          %label
            Date of birth
          .c-gray
            02/25/1986
        .col-md-4
          %label
            Social security number
          .c-gray
            158-698-5874

  .card.edit.double-gap-top
    .card-header
      %span Profile Information
    .card-body
      .row
        .col-md-4
          %label
            First name
          %input{ name: 'first-name', type: 'text', value: 'John' }
        .col-md-4
          %label
            Middle name
          %input{ name: 'middle-name', type: 'text', value: 'James' }
        .col-md-4
          %label
            Last name
          %input{ name: 'first-name', type: 'text', value: 'Smith' }
      .row
        .col-md-4
          %label
            Gender
          %select#state{ name: 'gender' }
            %option{ value: '' }
            %option{ value: 'Female' } Female
            %option{ value: 'Male', selected: 'selected' } Male
            %option{ value: 'Other' } Other
        .col-md-4
          %label
            Date of birth
          %input{ name: 'DOB', type: 'date', value: '02-25-1986' }
        .col-md-4
          %label
            Social security number
          %input{ name: 'SSN', type: 'number', value: '1586985874' }
        .centered
          %button.btn.btn-primary
            Save
          %button.btn.btn-default
            Cancel

%pre
  %xmp
    :erb
      <div class='card show'>
        <div class='card-header'>
          <span>Profile Information</span>
          <a class='pull-right' aria-label='Edit'>
            <i class='fa fa-pencil'></i>
          </a>
        </div>
        <div class='card-body'>
          <div class='row'>
            <div class='col-md-4'>
              <label>
                First name
              </label>
              <div class='c-gray'>
                John
              </div>
            </div>
            <div class='col-md-4'>
              <label>
                Middle name
              </label>
              <div class='c-gray'>
                James
              </div>
            </div>
            <div class='col-md-4'>
              <label>
                Last name
              </label>
              <div class='c-gray'>
                Smith
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-4'>
              <label>
                Gender
              </label>
              <div class='c-gray'>
                Male
              </div>
            </div>
            <div class='col-md-4'>
              <label>
                Date of birth
              </label>
              <div class='c-gray'>
                02/25/1986
              </div>
            </div>
            <div class='col-md-4'>
              <label>
                Social security number
              </label>
              <div class='c-gray'>
                158-698-5874
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='card edit double-gap-top'>
        <div class='card-header'>
          <span>Profile Information</span>
        </div>
        <div class='card-body'>
          <div class='row'>
            <div class='col-md-4'>
              <label>
                First name
              </label>
              <input>
            </div>
            <div class='col-md-4'>
              <label>
                Middle name
              </label>
              <input>
            </div>
            <div class='col-md-4'>
              <label>
                Last name
              </label>
              <input>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-4'>
              <label>
                Gender
              </label>
              <select id='state'>
                <option></option>
                <option>Female</option>
                <option>Male</option>
                <option>Other</option>
              </select>
            </div>
            <div class='col-md-4'>
              <label>
                Date of birth
              </label>
              <input>
            </div>
            <div class='col-md-4'>
              <label>
                Social security number
              </label>
              <input>
            </div>
            <div class='centered'>
              <button class='btn btn-primary'>
                Save
              </button>
              <button class='btn btn-default'>
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

.double-padded.bg-white
  %h4 Accessibility
  %ul
    %li
