%h1
  Colors
%i
  A flexible, yet distinctly American palette designed to communicate warmth and trustworthiness while meeting the highest standards of 508 color contrast requirements.

%h2
  Palette
%p
  This palette is designed to support a range of distinct visual styles that continue to feel connected. The intent of the palette is to convey a warm and open American spirit, with bright saturated tints of blue and red, grounded in sophisticated deeper shades of cool blues and grays. These colors — combined with clear hierarchy, good information design, and ample white space — should leave users feeling welcomed and in good hands.
%p
  This is a simple, minimalist color palette. Shades of blue dominate, providing a neutral backdrop on which brighter shades, clean type treatment, and bright white content areas "pop" on the page.

%h3
  Primary colors
%p
  This palette’s primary colors are blue, gray, and white. Blue is commonly associated with trust, confidence, and sincerity; it is also used to represent calmness and responsibility.

%table
  %thead
    %tr
      %td
        Color
      %td
        Name
      %td
        Color Class
      %td
        Background Class
  %tbody
    %tr
      %td.bg-primary-blue
      %td
        $primary-blue
      %td
        c-primary-blue
      %td
        bg-primary-blue
    %tr
      %td.bg-primary-darker-blue
      %td
        $primary-darker-blue
      %td
        c-primary-darker-blue
      %td
        bg-primary-darker-blue
    %tr
      %td.bg-primary-darkest-blue
      %td
        $primary-darkest-blue
      %td
        c-primary-darkest-blue
      %td
        bg-primary-darkest-blue
    %tr
      %td.bg-primary-base
      %td
        $primary-base
      %td
        c-primary-base
      %td
        bg-primary-base
    %tr
      %td.bg-gray-dark
      %td
        $gray-dark
      %td
        c-gray-dark
      %td
        bg-gray-dark
    %tr
      %td.bg-gray-light
      %td
        $gray-light
      %td
        c-gray-light
      %td
        bg-gray-light
    %tr
      %td.bg-white
      %td
        $white
      %td
        c-white
      %td
        bg-white

%h3
  Secondary colors
%p
  These are accent colors to provide additional lightness and style to pages looking for a more modern flair. These colors should be used to highlight important features on a page, such as buttons, or for visual style elements, such as illustrations. They should be used sparingly and never draw the eye to more than one piece of information at a time.

%table
  %thead
    %tr
      %td
        Color
      %td
        Name
      %td
        Color Class
      %td
        Background Class
  %tbody
    %tr
      %td.bg-primary-blue-alt
      %td
        $primary-blue-alt
      %td
        c-primary-blue-alt
      %td
        bg-primary-blue-alt
    %tr
      %td.bg-primary-blue-alt-darkest
      %td
        $primary-blue-alt-darkest
      %td
        c-primary-blue-alt-darkest
      %td
        bg-primary-blue-alt-darkest
    %tr
      %td.bg-primary-blue-alt-dark
      %td
        $primary-blue-alt-dark
      %td
        c-primary-blue-alt-dark
      %td
        bg-primary-blue-alt-dark
    %tr
      %td.bg-primary-blue-alt-light
      %td
        $primary-blue-alt-light
      %td
        c-primary-blue-alt-light
      %td
        bg-primary-blue-alt-light
    %tr
      %td.bg-primary-blue-alt-lightest
      %td
        $primary-blue-alt-lightest
      %td
        c-primary-blue-alt-lightest
      %td
        bg-primary-blue-alt-lightest
    %tr
      %td.bg-secondary-red
      %td
        $secondary-red
      %td
        c-secondary-red
      %td
        bg-secondary-red
    %tr
      %td.bg-secondary-red-darkest
      %td
        $secondary-red-darkest
      %td
        c-secondary-red-darkest
      %td
        bg-secondary-red-darkest
    %tr
      %td.bg-secondary-red-dark
      %td
        $secondary-red-dark
      %td
        c-secondary-red-dark
      %td
        bg-secondary-red-dark
    %tr
      %td.bg-secondary-red-light
      %td
        $secondary-red-light
      %td
        c-secondary-red-light
      %td
        bg-secondary-red-light
    %tr
      %td.bg-secondary-red-lightest
      %td
        $secondary-red-lightest
      %td
        c-secondary-red-lightest
      %td
        bg-secondary-red-lightest

%h3
  Background colors
%p
  These colors are used largely for background blocks and large content areas. When alternating between tones, be sure to use enough contrast between adjacent colors.

%table
  %thead
    %tr
      %td
        Color
      %td
        Name
      %td
        Color Class
      %td
        Background Class
  %tbody
    %tr
      %td.bg-gray-dark
      %td
        $gray-dark
      %td
        c-gray-dark
      %td
        bg-gray-dark
    %tr
      %td.bg-gray
      %td
        $gray
      %td
        c-gray
      %td
        bg-gray
    %tr
      %td.bg-gray-light
      %td
        $gray-light
      %td
        c-gray-light
      %td
        bg-gray-light
    %tr
      %td.bg-gray-lighter
      %td
        $gray-lighter
      %td
        c-gray-lighter
      %td
        bg-gray-lighter
    %tr
      %td.bg-gray-lightest
      %td
        $gray-lightest
      %td
        c-gray-lightest
      %td
        bg-gray-lightest
    %tr
      %td.bg-gray-warm-dark
      %td
        $gray-warm-dark
      %td
        c-gray-warm-dark
      %td
        bg-gray-warm-dark
    %tr
      %td.bg-gray-warm-light
      %td
        $gray-warm-light
      %td
        c-gray-warm-light
      %td
        bg-gray-warm-light
    %tr
      %td.bg-primary-darkest-blue
      %td
        $primary-darkest-blue
      %td
        c-primary-darkest-blue
      %td
        bg-primary-darkest-blue
    %tr
      %td.bg-gray-cool-light
      %td
        $gray-cool-light
      %td
        c-gray-cool-light
      %td
        bg-gray-cool-light

%h3
  Tertiary colors
%p
  These colors are used primarily for content-specific needs, such as alerts and illustrations. They should never overpower the primary colors.

%table
  %thead
    %tr
      %td
        Color
      %td
        Name
      %td
        Color Class
      %td
        Background Class
  %tbody
    %tr
      %td.bg-gold
      %td
        $gold
      %td
        c-gold
      %td
        bg-gold
    %tr
      %td.bg-gold-light
      %td
        $gold-light
      %td
        c-gold-light
      %td
        bg-gold-light
    %tr
      %td.bg-gold-lighter
      %td
        $gold-lighter
      %td
        c-gold-lighter
      %td
        bg-gold-lighter
    %tr
      %td.bg-gold-lightest
      %td
        $gold-lightest
      %td
        c-gold-lightest
      %td
        bg-gold-lightest
    %tr
      %td.bg-green
      %td
        $green
      %td
        c-green
      %td
        bg-green
    %tr
      %td.bg-green-light
      %td
        $green-light
      %td
        c-green-light
      %td
        bg-green-light
    %tr
      %td.bg-green-lighter
      %td
        $green-lighter
      %td
        c-green-lighter
      %td
        bg-green-lighter
    %tr
      %td.bg-green-lightest
      %td
        $green-lightest
      %td
        c-green-lightest
      %td
        bg-green-lightest
    %tr
      %td.bg-primary-darker-blue
      %td
        $primary-darker-blue
      %td
        c-primary-darker-blue
      %td
        bg-primary-darker-blue
    %tr
      %td.bg-cool-blue-light
      %td
        $cool-blue-light
      %td
        c-cool-blue-light
      %td
        bg-cool-blue-light
    %tr
      %td.bg-cool-blue-lighter
      %td
        $cool-blue-lighter
      %td
        c-cool-blue-lighter
      %td
        bg-cool-blue-lighter
    %tr
      %td.bg-gray-cool-light
      %td
        $gray-cool-light
      %td
        c-gray-cool-light
      %td
        bg-gray-cool-light

%h3
  Special state colors

%table
  %thead
    %tr
      %td
        Color
      %td
        Name
      %td
        Color Class
      %td
        Background Class
  %tbody
    %tr
      %td.bg-focus-color
      %td
        $focus-color
      %td
        c-focus-color
      %td
        bg-focus-color
    %tr
      %td.bg-visited-color
      %td
        $visited-color
      %td
        c-visited-color
      %td
        bg-visited-color

%h2
  Text accessibility
%p
  WCAG (Web Content Accessibility Guidelines) ensure that content is accessible by everyone, regardless of disability or user device. To meet these standards, text and interactive elements should have a color contrast ratio of 
  %a{:href => "http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html"}
    at least 4.5:1. 
  This ensures that viewers who cannot see the full color spectrum are able to read the text.
%p
  The options below offer color palette combinations that fall within the range of Section 508 compliant foreground/background color contrast ratios. To ensure that text remains accessible, use only these permitted color combinations.
%p
  If you choose to customize beyond this palette, this color
  %a{:href => "http://webaim.org/resources/contrastchecker/"}
    contrast tool
  is a useful resource for testing the compliance of any color combination.

%h3 Fully accessible combinations

%p Colors on a white background:

.row.double-padded.border-regular-light-gray
  .col-md-6.no-pad
    .half-gap-bottom.padded.bg-white.c-primary-darkest-blue.border-thin-dark-gray
      %strong primary-darkest on white
    .half-gap-bottom.padded.bg-white.c-primary-darker-blue.border-thin-dark-gray
      %strong primary-darker on white
    .half-gap-bottom.padded.bg-white.c-primary-blue.border-thin-dark-gray
      %strong primary-darkest on white
    .half-gap-bottom.padded.bg-white.c-cool-blue-light.border-thin-dark-gray
      %strong primary-darker on white
    .half-gap-bottom.padded.bg-white.c-primary-blue-alt-darkest.border-thin-dark-gray
      %strong primary-darker on white
    .half-gap-bottom.padded.bg-white.c-green.border-thin-dark-gray
      %strong primary-darkest on white
    .half-gap-bottom.padded.bg-white.c-visited-color.border-thin-dark-gray
      %strong primary-darker on white
  .col-md-6.no-pad.double-pad-left
    .half-gap-bottom.padded.bg-white.c-primary-base.border-thin-dark-gray
      %strong primary-darkest on white
    .half-gap-bottom.padded.bg-white.c-gray-dark.border-thin-dark-gray
      %strong primary-darker on white
    .half-gap-bottom.padded.bg-white.c-gray.border-thin-dark-gray
      %strong primary-darkest on white
    .half-gap-bottom.padded.bg-white.c-gray-warm-dark.border-thin-dark-gray
      %strong primary-darker on white
    .half-gap-bottom.padded.bg-white.c-secondary-red-darkest.border-thin-dark-gray
      %strong primary-darkest on white
    .half-gap-bottom.padded.bg-white.c-secondary-red-dark.border-thin-dark-gray
      %strong primary-darker on white
    .half-gap-bottom.padded.bg-white.c-secondary-red.border-thin-dark-gray
      %strong primary-darkest on white


%p Neutrals on a colored background:

.row.double-padded.border-regular-light-gray
  .col-md-6.no-pad
    .half-gap-bottom.padded.bg-primary-base.c-white
      %strong white on primary-base
    .half-gap-bottom.padded.bg-gray-warm-dark.c-white
      %strong white on gray-warm-dark
    .half-gap-bottom.padded.bg-gray-dark.c-white
      %strong white on gray-dark
    .half-gap-bottom.padded.bg-gray.c-white
      %strong white on gray
    .half-gap-bottom.padded.bg-primary-darkest-blue.c-white
      %strong white on primary-darkest-blue
    .half-gap-bottom.padded.bg-primary-darker-blue.c-white
      %strong white on primary-darker-blue
    .half-gap-bottom.padded.bg-primary-blue.c-white
      %strong white on bg-primary-blue
    .half-gap-bottom.padded.bg-cool-blue-light.c-white
      %strong white on cool-blue-light
    .half-gap-bottom.padded.bg-primary-blue-alt-darkest.c-white
      %strong white on primary-blue-alt-darkest
    .half-gap-bottom.padded.bg-primary-blue-alt-dark.c-base
      %strong base on primary-blue-alt-dark
    .half-gap-bottom.padded.bg-primary-blue-alt.c-base
      %strong base on primary-blue-alt
    .half-gap-bottom.padded.bg-green.c-white
      %strong white on green
    .half-gap-bottom.padded.bg-green-light.c-base
      %strong base on green-light
    .half-gap-bottom.padded.bg-gold.c-base
      %strong base on gold
    .half-gap-bottom.padded.bg-gold-light.c-base
      %strong base on gold-light
    .half-gap-bottom.padded.bg-secondary-red-darkest.c-white
      %strong white on secondary-red-darkest
    .half-gap-bottom.padded.bg-secondary-red-dark.c-white
      %strong white on secondary-red-dark
    .half-gap-bottom.padded.bg-secondary-red.c-white
      %strong white on secondary-red

  .col-md-6.no-pad.double-pad-left
    .half-gap-bottom.padded.bg-gray-light.c-primary-base
      %strong base on gray-light 
    .half-gap-bottom.padded.bg-gray-lighter.c-primary-base
      %strong base on gray-lighter
    .half-gap-bottom.padded.bg-gray-warm-light.c-primary-base
      %strong base on gray-warm-light
    .half-gap-bottom.padded.bg-cool-blue-lighter.c-primary-base
      %strong base on cool-blue-lighter
    .half-gap-bottom.padded.bg-gray-cool-light.c-primary-base
      %strong base on gray-cool-light
    .half-gap-bottom.padded.bg-primary-blue-alt-lightest.c-primary-base
      %strong base on primary-blue-alt-lightest
    .half-gap-bottom.padded.bg-green-lighter.c-primary-base
      %strong base on green-lighter 
    .half-gap-bottom.padded.bg-green-lightest.c-primary-base
      %strong base on green-lightest
    .half-gap-bottom.padded.bg-gold-lighter.c-primary-base
      %strong base on gold-lighter
    .half-gap-bottom.padded.bg-gold-lightest.c-primary-base
      %strong base on gold-lightest
    .half-gap-bottom.padded.bg-secondary-red-lightest.c-primary-base
      %strong base on secondary-red-lightest

