%h1
  Colors
%h5
  A flexible, yet distinctly American palette designed to communicate warmth and trustworthiness while meeting the highest standards of 508 color contrast requirements.

%h2
  Palette
%p
  This palette is designed to support a range of distinct visual styles that continue to feel connected. The intent of the palette is to convey a warm and open American spirit, with bright saturated tints of blue and red, grounded in sophisticated deeper shades of cool blues and grays. These colors — combined with clear hierarchy, good information design, and ample white space — should leave users feeling welcomed and in good hands.
%p
  This is a simple, minimalist color palette. Shades of blue dominate, providing a neutral backdrop on which brighter shades, clean type treatment, and bright white content areas "pop" on the page.

%h3
  Primary colors
%p
  This palette’s primary colors are blue, gray, and white. Blue is commonly associated with trust, confidence, and sincerity; it is also used to represent calmness and responsibility.

%h3
  Secondary colors
%p
  These are accent colors to provide additional lightness and style to pages looking for a more modern flair. These colors should be used to highlight important features on a page, such as buttons, or for visual style elements, such as illustrations. They should be used sparingly and never draw the eye to more than one piece of information at a time.

%h3
  Background colors
%p
  These colors are used largely for background blocks and large content areas. When alternating between tones, be sure to use enough contrast between adjacent colors.

%h3
  Tertiary colors
%p
  These colors are used primarily for content-specific needs, such as alerts and illustrations. They should never overpower the primary colors.

%h3
  Special state colors

%h2
  Text accessibility
%p
  WCAG (Web Content Accessibility Guidelines) ensure that content is accessible by everyone, regardless of disability or user device. To meet these standards, text and interactive elements should have a color contrast ratio of 
  %a{:href => "http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html"}
    at least 4.5:1. 
  This ensures that viewers who cannot see the full color spectrum are able to read the text.
%p
  The options below offer color palette combinations that fall within the range of Section 508 compliant foreground/background color contrast ratios. To ensure that text remains accessible, use only these permitted color combinations.
%p
  If you choose to customize beyond this palette, this color
  %a{:href => "http://webaim.org/resources/contrastchecker/"}
    contrast tool
  is a useful resource for testing the compliance of any color combination.

