%h1
  Colors

%h2.double-gap-top
  Palette
%p
  This palette is designed to support a range of distinct visual styles that continue to feel connected. The intent of the palette is to convey a warm and open American spirit, with bright saturated tints of blue and red, grounded in sophisticated deeper shades of cool blues and grays. These colors — combined with clear hierarchy, good information design, and ample white space — should leave users feeling welcomed and in good hands.
%p
  This is a simple, minimalist color palette. Shades of blue dominate, providing a neutral backdrop on which brighter shades, clean type treatment, and bright white content areas "pop" on the page.

%h3.double-gap-top
  Primary colors
%p
  This palette’s primary colors are blue, gray, and white. Blue is commonly associated with trust, confidence, and sincerity; it is also used to represent calmness and responsibility.

.double-padded.bg-white
  .table-responsive
    %table
      %thead
        %tr
          %td
            Color
          %td
            Name
          %td
            Color Class
          %td
            Background Class
      %tbody
        %tr
          %td.bg-primary-blue
          %td
            %code
              $primary-blue
          %td
            %code
              :preserve
                .c-primary-blue
          %td
            %code
              :preserve
                .bg-primary-blue
        %tr
          %td.bg-primary-darker-blue
          %td
            %code
              $primary-darker-blue
          %td
            %code
              :preserve
                c-primary-darker-blue
          %td
            %code
              :preserve
                bg-primary-darker-blue
        %tr
          %td.bg-primary-darkest-blue
          %td
            %code
              $primary-darkest-blue
          %td
            %code
              :preserve
                c-primary-darkest-blue
          %td
            %code
              :preserve
                bg-primary-darkest-blue
        %tr
          %td.bg-primary-base
          %td
            %code
              $primary-base
          %td
            %code
              :preserve
                c-primary-base
          %td
            %code
              :preserve
                bg-primary-base
        %tr
          %td.bg-gray-dark
          %td
            %code
              $gray-dark
          %td
            %code
              :preserve
                c-gray-dark
          %td
            %code
              :preserve
                bg-gray-dark
        %tr
          %td.bg-gray-light
          %td
            %code
              $gray-light
          %td
            %code
              :preserve
                c-gray-light
          %td
            %code
              :preserve
                bg-gray-light
        %tr
          %td.bg-white
          %td
            %code
              $white
          %td
            %code
              :preserve
                c-white
          %td
            %code
              :preserve
                bg-white

%h3.double-gap-top
  Secondary colors
%p
  These are accent colors to provide additional lightness and style to pages looking for a more modern flair. These colors should be used to highlight important features on a page, such as buttons, or for visual style elements, such as illustrations. They should be used sparingly and never draw the eye to more than one piece of information at a time.

.double-padded.bg-white
  .table-responsive
    %table
      %thead
        %tr
          %td
            Color
          %td
            Name
          %td
            Color Class
          %td
            Background Class
      %tbody
        %tr
          %td.bg-primary-blue-alt
          %td
            %code
              $primary-blue-alt
          %td
            %code
              :preserve
                c-primary-blue-alt
          %td
            %code
              :preserve
                bg-primary-blue-alt
        %tr
          %td.bg-primary-blue-alt-darkest
          %td
            %code
              $primary-blue-alt-darkest
          %td
            %code
              :preserve
                c-primary-blue-alt-darkest
          %td
            %code
              :preserve
                bg-primary-blue-alt-darkest
        %tr
          %td.bg-primary-blue-alt-dark
          %td
            %code
              $primary-blue-alt-dark
          %td
            %code
              :preserve
                c-primary-blue-alt-dark
          %td
            %code
              :preserve
                bg-primary-blue-alt-dark
        %tr
          %td.bg-primary-blue-alt-light
          %td
            %code
              $primary-blue-alt-light
          %td
            %code
              :preserve
                c-primary-blue-alt-light
          %td
            %code
              :preserve
                bg-primary-blue-alt-light
        %tr
          %td.bg-primary-blue-alt-lightest
          %td
            %code
              $primary-blue-alt-lightest
          %td
            %code
              :preserve
                c-primary-blue-alt-lightest
          %td
            %code
              :preserve
                bg-primary-blue-alt-lightest
        %tr
          %td.bg-secondary-red
          %td
            %code
              $secondary-red
          %td
            %code
              :preserve
                c-secondary-red
          %td
            %code
              :preserve
                bg-secondary-red
        %tr
          %td.bg-secondary-red-darkest
          %td
            %code
              $secondary-red-darkest
          %td
            %code
              :preserve
                c-secondary-red-darkest
          %td
            %code
              :preserve
                bg-secondary-red-darkest
        %tr
          %td.bg-secondary-red-dark
          %td
            %code
              $secondary-red-dark
          %td
            %code
              :preserve
                c-secondary-red-dark
          %td
            %code
              :preserve
                bg-secondary-red-dark
        %tr
          %td.bg-secondary-red-light
          %td
            %code
              $secondary-red-light
          %td
            %code
              :preserve
                c-secondary-red-light
          %td
            %code
              :preserve
                bg-secondary-red-light
        %tr
          %td.bg-secondary-red-lightest
          %td
            %code
              $secondary-red-lightest
          %td
            %code
              :preserve
                c-secondary-red-lightest
          %td
            %code
              :preserve
                bg-secondary-red-lightest

%h3.double-gap-top
  Background colors
%p
  These colors are used largely for background blocks and large content areas. When alternating between tones, be sure to use enough contrast between adjacent colors.

.double-padded.bg-white
  .table-responsive
    %table
      %thead
        %tr
          %td
            Color
          %td
            Name
          %td
            Color Class
          %td
            Background Class
      %tbody
        %tr
          %td.bg-gray-dark
          %td
            %code
              $gray-dark
          %td
            %code
              :preserve
                c-gray-dark
          %td
            %code
              :preserve
                bg-gray-dark
        %tr
          %td.bg-gray
          %td
            %code
              $gray
          %td
            %code
              :preserve
                c-gray
          %td
            %code
              :preserve
                bg-gray
        %tr
          %td.bg-gray-light
          %td
            %code
              $gray-light
          %td
            %code
              :preserve
                c-gray-light
          %td
            %code
              :preserve
                bg-gray-light
        %tr
          %td.bg-gray-lighter
          %td
            %code
              $gray-lighter
          %td
            %code
              :preserve
                c-gray-lighter
          %td
            %code
              :preserve
                bg-gray-lighter
        %tr
          %td.bg-gray-lightest
          %td
            %code
              $gray-lightest
          %td
            %code
              :preserve
                c-gray-lightest
          %td
            %code
              :preserve
                bg-gray-lightest
        %tr
          %td.bg-gray-warm-dark
          %td
            %code
              $gray-warm-dark
          %td
            %code
              :preserve
                c-gray-warm-dark
          %td
            %code
              :preserve
                bg-gray-warm-dark
        %tr
          %td.bg-gray-warm-light
          %td
            %code
              $gray-warm-light
          %td
            %code
              :preserve
                c-gray-warm-light
          %td
            %code
              :preserve
                bg-gray-warm-light
        %tr
          %td.bg-primary-darkest-blue
          %td
            %code
              $primary-darkest-blue
          %td
            %code
              :preserve
                c-primary-darkest-blue
          %td
            %code
              :preserve
                bg-primary-darkest-blue
        %tr
          %td.bg-gray-cool-light
          %td
            %code
              $gray-cool-light
          %td
            %code
              :preserve
                c-gray-cool-light
          %td
            %code
              :preserve
                bg-gray-cool-light

%h3.double-gap-top
  Tertiary colors
%p
  These colors are used primarily for content-specific needs, such as alerts and illustrations. They should never overpower the primary colors.

.double-padded.bg-white
  .table-responsive
    %table
      %thead
        %tr
          %td
            Color
          %td
            Name
          %td
            Color Class
          %td
            Background Class
      %tbody
        %tr
          %td.bg-gold
          %td
            %code
              $gold
          %td
            %code
              :preserve
                c-gold
          %td
            %code
              :preserve
                bg-gold
        %tr
          %td.bg-gold-light
          %td
            %code
              $gold-light
          %td
            %code
              :preserve
                c-gold-light
          %td
            %code
              :preserve
                bg-gold-light
        %tr
          %td.bg-gold-lighter
          %td
            %code
              $gold-lighter
          %td
            %code
              :preserve
                c-gold-lighter
          %td
            %code
              :preserve
                bg-gold-lighter
        %tr
          %td.bg-gold-lightest
          %td
            %code
              $gold-lightest
          %td
            %code
              :preserve
                c-gold-lightest
          %td
            %code
              :preserve
                bg-gold-lightest
        %tr
          %td.bg-green
          %td
            %code
              $green
          %td
            %code
              :preserve
                c-green
          %td
            %code
              :preserve
                bg-green
        %tr
          %td.bg-green-light
          %td
            %code
              $green-light
          %td
            %code
              :preserve
                c-green-light
          %td
            %code
              :preserve
                bg-green-light
        %tr
          %td.bg-green-lighter
          %td
            %code
              $green-lighter
          %td
            %code
              :preserve
                c-green-lighter
          %td
            %code
              :preserve
                bg-green-lighter
        %tr
          %td.bg-green-lightest
          %td
            %code
              $green-lightest
          %td
            %code
              :preserve
                c-green-lightest
          %td
            %code
              :preserve
                bg-green-lightest
        %tr
          %td.bg-primary-darker-blue
          %td
            %code
              $primary-darker-blue
          %td
            %code
              :preserve
                c-primary-darker-blue
          %td
            %code
              :preserve
                bg-primary-darker-blue
        %tr
          %td.bg-cool-blue-light
          %td
            %code
              $cool-blue-light
          %td
            %code
              :preserve
                c-cool-blue-light
          %td
            %code
              :preserve
                bg-cool-blue-light
        %tr
          %td.bg-cool-blue-lighter
          %td
            %code
              $cool-blue-lighter
          %td
            %code
              :preserve
                c-cool-blue-lighter
          %td
            %code
              :preserve
                bg-cool-blue-lighter
        %tr
          %td.bg-gray-cool-light
          %td
            %code
              $gray-cool-light
          %td
            %code
              :preserve
                c-gray-cool-light
          %td
            %code
              :preserve
                bg-gray-cool-light

%h3.double-gap-top
  Special state colors

.double-padded.bg-white
  .table-responsive
    %table
      %thead
        %tr
          %td
            Color
          %td
            Name
          %td
            Color Class
          %td
            Background Class
      %tbody
        %tr
          %td.bg-focus-color
          %td
            %code
              $focus-color
          %td
            %code
              :preserve
                c-focus-color
          %td
            %code
              :preserve
                bg-focus-color
        %tr
          %td.bg-visited-color
          %td
            %code
              $visited-color
          %td
            %code
              :preserve
                c-visited-color
          %td
            %code
              :preserve
                bg-visited-color

%h2.double-gap-top
  Text accessibility
%p
  WCAG (Web Content Accessibility Guidelines) ensure that content is accessible by everyone, regardless of disability or user device. To meet these standards, text and interactive elements should have a color contrast ratio of
  %a{ href: 'http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html' }
    at least 4.5:1.
  This ensures that viewers who cannot see the full color spectrum are able to read the text.
%p
  The options below offer color palette combinations that fall within the range of Section 508 compliant foreground/background color contrast ratios. To ensure that text remains accessible, use only these permitted color combinations.
%p
  If you choose to customize beyond this palette, this color
  %a{ href: 'http://webaim.org/resources/contrastchecker/' }
    contrast tool
  is a useful resource for testing the compliance of any color combination.

%h3.double-gap-top Fully accessible combinations

%p Colors on a white background:

.row.double-padded.bg-white
  .col-md-6.no-pad
    .half-gap-bottom.padded.bg-white.c-primary-darkest-blue.border-thin-dark-gray
      %strong primary-darkest-blue on white
    .half-gap-bottom.padded.bg-white.c-primary-darker-blue.border-thin-dark-gray
      %strong primary-darker-blue on white
    .half-gap-bottom.padded.bg-white.c-primary-blue.border-thin-dark-gray
      %strong primary-blue on white
    .half-gap-bottom.padded.bg-white.c-cool-blue-light.border-thin-dark-gray
      %strong cool-blue-light on white
    .half-gap-bottom.padded.bg-white.c-primary-blue-alt-darkest.border-thin-dark-gray
      %strong primary-blue-alt-darkest on white
    .half-gap-bottom.padded.bg-white.c-green.border-thin-dark-gray
      %strong green on white
    .half-gap-bottom.padded.bg-white.c-visited-color.border-thin-dark-gray
      %strong visited-color on white
  .col-md-6.no-pad.double-pad-left
    .half-gap-bottom.padded.bg-white.c-primary-base.border-thin-dark-gray
      %strong primary-base on white
    .half-gap-bottom.padded.bg-white.c-gray-dark.border-thin-dark-gray
      %strong gray-dark on white
    .half-gap-bottom.padded.bg-white.c-gray.border-thin-dark-gray
      %strong gray on white
    .half-gap-bottom.padded.bg-white.c-gray-warm-dark.border-thin-dark-gray
      %strong gray-warm-dark on white
    .half-gap-bottom.padded.bg-white.c-secondary-red-darkest.border-thin-dark-gray
      %strong secondary-red-darkest on white
    .half-gap-bottom.padded.bg-white.c-secondary-red-dark.border-thin-dark-gray
      %strong secondary-red-dark on white
    .half-gap-bottom.padded.bg-white.c-secondary-red.border-thin-dark-gray
      %strong secondary-red on white


%p Neutrals on a colored background:

.row.double-padded.bg-white
  .col-md-6.no-pad
    .half-gap-bottom.padded.bg-primary-base.c-white
      %strong white on primary-base
    .half-gap-bottom.padded.bg-gray-warm-dark.c-white
      %strong white on gray-warm-dark
    .half-gap-bottom.padded.bg-gray-dark.c-white
      %strong white on gray-dark
    .half-gap-bottom.padded.bg-gray.c-white
      %strong white on gray
    .half-gap-bottom.padded.bg-primary-darkest-blue.c-white
      %strong white on primary-darkest-blue
    .half-gap-bottom.padded.bg-primary-darker-blue.c-white
      %strong white on primary-darker-blue
    .half-gap-bottom.padded.bg-primary-blue.c-white
      %strong white on bg-primary-blue
    .half-gap-bottom.padded.bg-cool-blue-light.c-white
      %strong white on cool-blue-light
    .half-gap-bottom.padded.bg-primary-blue-alt-darkest.c-white
      %strong white on primary-blue-alt-darkest
    .half-gap-bottom.padded.bg-primary-blue-alt-dark.c-base
      %strong base on primary-blue-alt-dark
    .half-gap-bottom.padded.bg-primary-blue-alt.c-base
      %strong base on primary-blue-alt
    .half-gap-bottom.padded.bg-green.c-white
      %strong white on green
    .half-gap-bottom.padded.bg-green-light.c-base
      %strong base on green-light
    .half-gap-bottom.padded.bg-gold.c-base
      %strong base on gold
    .half-gap-bottom.padded.bg-gold-light.c-base
      %strong base on gold-light
    .half-gap-bottom.padded.bg-secondary-red-darkest.c-white
      %strong white on secondary-red-darkest
    .half-gap-bottom.padded.bg-secondary-red-dark.c-white
      %strong white on secondary-red-dark
    .half-gap-bottom.padded.bg-secondary-red.c-white
      %strong white on secondary-red

  .col-md-6.no-pad.double-pad-left
    .half-gap-bottom.padded.bg-gray-light.c-primary-base
      %strong base on gray-light
    .half-gap-bottom.padded.bg-gray-lighter.c-primary-base
      %strong base on gray-lighter
    .half-gap-bottom.padded.bg-gray-warm-light.c-primary-base
      %strong base on gray-warm-light
    .half-gap-bottom.padded.bg-cool-blue-lighter.c-primary-base
      %strong base on cool-blue-lighter
    .half-gap-bottom.padded.bg-gray-cool-light.c-primary-base
      %strong base on gray-cool-light
    .half-gap-bottom.padded.bg-primary-blue-alt-lightest.c-primary-base
      %strong base on primary-blue-alt-lightest
    .half-gap-bottom.padded.bg-green-lighter.c-primary-base
      %strong base on green-lighter
    .half-gap-bottom.padded.bg-green-lightest.c-primary-base
      %strong base on green-lightest
    .half-gap-bottom.padded.bg-gold-lighter.c-primary-base
      %strong base on gold-lighter
    .half-gap-bottom.padded.bg-gold-lightest.c-primary-base
      %strong base on gold-lightest
    .half-gap-bottom.padded.bg-secondary-red-lightest.c-primary-base
      %strong base on secondary-red-lightest

