%h1 Forms
%i Form controls allow users to enter information into a page.

%h2 Buttons
%i Use buttons to signal actions.

.double-gap-top.double-padded.border-regular-light-gray
  %button.primary-button
    Primary Button
  %button.secondary-button
    Secondary Button
  %br
  %button.primary-button.big-button
    Big Primary Button
  %button.secondary-button.big-button
    Big Secondary Button
  %br
  %button.primary-button.disabled-button
    Disabled Button
  %button.secondary-button.disabled-button.big-button
    Big Disabled Button