%h1 Navigation

%h2.double-gap-top Side navigation
%i Hierarchical, vertical navigation to place at the side of a page. Note: We're currently developing horizontal navigation and headers for the top of a page.
.gap-top.double-padded.border-regular-light-gray
  %ul.sidenav-list
    %li
      %a.current{ href: '#' } Current page
    %li
      %a{ href: '#' } Parent link
    %li
      %a{ href: '#' } Parent link

%pre
  %code
    :preserve
      WIP

.double-padded.border-regular-light-gray
  %h4 Accessibility
  %ul
    %li WIP
