%h1 Navigation

%h2.double-gap-top Side navigation
%i Hierarchical, vertical navigation to place at the side of a page. Note: We're currently developing horizontal navigation and headers for the top of a page.
.gap-top.double-padded.bg-white
  %ul.sidenav-list
    %li
      %a.current{ href: '#' } Current page
    %li
      %a{ href: '#' } Parent link
    %li
      %a{ href: '#' } Parent link

%pre
  %xmp
    :erb
      <ul class="sidenav-list">
        <li>
          <a class="current" href="#">Current page</a>
        </li>
        <li>
          <a href="#">Parent link</a>
        </li>
        <li>
          <a href="#">Parent link</a>
        </li>
      </ul>


.double-padded.bg-white
  %h4 Accessibility
  %ul
    %li WIP
