%h1 Tables
%i Tables show tabular data in columns and rows.

%h2 Non-Sortable Table

.double-padded.border-regular-light-gray
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th{ scope: 'col' }
            Item
          %th{ scope: 'col' }
            Qty
          %th{ scope: 'col' }
            Price
          %th{ scope: 'col' }
            Description
      %tbody
        %tr
          %th{ scope: 'row' }
            Pellentesque
          %td
            2
          %td
            5
          %td
            Aenean accumsan lorem ante.
        %tr
          %th{ scope: 'row' }
            Adipiscing
          %td
            1
          %td
            15
          %td
            Proin fringilla tellus eget dui consequat ullamcorper.
        %tr
          %th{ scope: 'row' }
            Suspendisse
          %td
            26
          %td
            1
          %td
            Vestibulum feugiat non nulla nec semper.
        %tr
          %th{ scope: 'row' }
            Morbi
          %td
            6
          %td
            19
          %td
            Ut justo eros, vehicula at tincidunt vel, viverra sit amet sem.
        %tr
          %th{ scope: 'row' }
            Vestibulum
          %td
            20
          %td
            3
          %td
            Maecenas vel lobortis eros.
        %tr
          %th{ scope: 'row' }
            Aenean
          %td
            9
          %td
            8
          %td
            Curabitur fringilla sed urna in dictum.

%pre
  %code
    :preserve
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th{ scope: 'col' }
                Item
              %th{ scope: 'col' }
                Qty
              %th{ scope: 'col' }
                Price
              %th{ scope: 'col' }
                Description
          %tbody
            %tr
              %th{ scope: 'row' }
                Pellentesque
              %td
                2
              %td
                5
              %td
                Aenean accumsan lorem ante.
            %tr
              %th{ scope: 'row' }
                Adipiscing
              %td
                1
              %td
                15
              %td
                Proin fringilla tellus eget dui consequat ullamcorper.
            %tr
              %th{ scope: 'row' }
                Suspendisse
              %td
                26
              %td
                1
              %td
                Vestibulum feugiat non nulla nec semper.
            %tr
              %th{ scope: 'row' }
                Morbi
              %td
                6
              %td
                19
              %td
                Ut justo eros, vehicula at tincidunt vel, viverra sit amet sem.
            %tr
              %th{ scope: 'row' }
                Vestibulum
              %td
                20
              %td
                3
              %td
                Maecenas vel lobortis eros.
            %tr
              %th{ scope: 'row' }
                Aenean
              %td
                9
              %td
                8
              %td
                Curabitur fringilla sed urna in dictum.

.double-padded.border-regular-light-gray
  %h4 Accessibility
  %ul
    %li
      Simple tables can have two levels of headers. Each header cell should have
      %code scope="col"
      or
      %code scope="row"
      %span .
    %li
      Complex tables are tables with more than two levels of headers. Each header should be given a unique
      %code id
      and each data cell should have a headers attribute with each related header cell’s
      %code id
      listed.
    %li
      When adding a title to a table, include it in a
      %code
        :escaped
          <caption>
      tag inside of the
      %code
        :escaped
          <table>
      %span element.
