%h1 Tables

%h2 Non-Sortable Table

.double-padded.border-regular-light-gray
  %table
    %thead
      %tr
        %td
          Item
        %td
          Qty
        %td
          Price
        %td
          Description
    %tbody
      %tr
        %td
          Pellentesque
        %td
          2
        %td
          5
        %td
          Aenean accumsan lorem ante.
      %tr
        %td
          Adipiscing
        %td
          1
        %td
          15
        %td
          Proin fringilla tellus eget dui consequat ullamcorper.
      %tr
        %td
          Suspendisse
        %td
          26
        %td
          1
        %td
          Vestibulum feugiat non nulla nec semper.
      %tr
        %td
          Morbi
        %td
          6
        %td
          19
        %td
          Ut justo eros, vehicula at tincidunt vel, viverra sit amet sem.
      %tr
        %td
          Vestibulum
        %td
          20
        %td
          3
        %td
          Maecenas vel lobortis eros.
      %tr
        %td
          Aenean
        %td
          9
        %td
          8
        %td
          Curabitur fringilla sed urna in dictum.