%h1 Typography

%h2 Headers

.double-padded.border-regular-light-gray
  %h1{:style => "margin-top: 0;"} Section Heading (h1)
  %h2 Section Heading (h2)
  %h3 Subsection Heading (h3)

%pre
  %code
    :preserve
      %h1 Section Heading (h1)
      %h2 Section Heading (h2)
      %h3 Subsection Heading (h3)

%h2.double-gap-top Paragraph

.double-padded.border-regular-light-gray
  %p{:style => "margin-top: 0;"}
    Aenean accumsan lorem ante. Vestibulum feugiat non nulla nec semper. Pellentesque nisl quam, condimentum eget turpis id, euismod feugiat mauris. Aliquam dictum quam vel porttitor facilisis. Duis eleifend dolor ut metus laoreet eleifend non et sem. Quisque venenatis sem nibh, cursus dictum diam egestas vitae. Curabitur dictum egestas nulla eget euismod. Ut id elementum tortor. Curabitur ornare magna a nisi semper, eget vestibulum lacus congue. Morbi pellentesque erat non nisl euismod, in consequat enim condimentum. Nam aliquam enim metus, mollis tincidunt purus dapibus in. Integer aliquet ornare accumsan. Morbi tincidunt nisl vel magna ornare, non fermentum metus pellentesque. Mauris eget lorem dolor.
  %p{:style => "margin-bottom: 0;"}
    Morbi vitae nunc egestas, blandit odio id, fringilla ex. Suspendisse orci lacus, auctor id finibus et, tempus ut felis. Nunc tristique congue diam, ut suscipit sapien pulvinar vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus dolor nisi, pretium vitae pellentesque in, pharetra quis turpis. Vestibulum maximus enim at nulla tincidunt, quis tristique metus dictum. Nulla imperdiet neque est, quis pellentesque dolor luctus a. Nunc in nisl sollicitudin, posuere nisl vitae, tristique nulla. Aliquam eu dolor tempor, condimentum nulla at, interdum enim. Etiam id ullamcorper orci, nec hendrerit enim. Nullam eleifend, sem quis tempus semper, felis enim venenatis lectus, non aliquam tortor metus sed sem. Morbi volutpat elit nunc, vitae consequat ipsum euismod sit amet. Vivamus vel dolor justo. Duis vitae felis sit amet ex efficitur suscipit. Phasellus porta non lorem id mollis.

%pre
  %code
    :preserve
      %p
        Aenean accumsan lorem ante. Vestibulum feugiat non nulla nec semper. Pellentesque nisl quam, condimentum eget turpis id, euismod feugiat mauris. Aliquam dictum quam vel porttitor facilisis. Duis eleifend dolor ut metus laoreet eleifend non et sem. Quisque venenatis sem nibh, cursus dictum diam egestas vitae. Curabitur dictum egestas nulla eget euismod. Ut id elementum tortor. Curabitur ornare magna a nisi semper, eget vestibulum lacus congue. Morbi pellentesque erat non nisl euismod, in consequat enim condimentum. Nam aliquam enim metus, mollis tincidunt purus dapibus in. Integer aliquet ornare accumsan. Morbi tincidunt nisl vel magna ornare, non fermentum metus pellentesque. Mauris eget lorem dolor.
      %p
        Morbi vitae nunc egestas, blandit odio id, fringilla ex. Suspendisse orci lacus, auctor id finibus et, tempus ut felis. Nunc tristique congue diam, ut suscipit sapien pulvinar vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus dolor nisi, pretium vitae pellentesque in, pharetra quis turpis. Vestibulum maximus enim at nulla tincidunt, quis tristique metus dictum. Nulla imperdiet neque est, quis pellentesque dolor luctus a. Nunc in nisl sollicitudin, posuere nisl vitae, tristique nulla. Aliquam eu dolor tempor, condimentum nulla at, interdum enim. Etiam id ullamcorper orci, nec hendrerit enim. Nullam eleifend, sem quis tempus semper, felis enim venenatis lectus, non aliquam tortor metus sed sem. Morbi volutpat elit nunc, vitae consequat ipsum euismod sit amet. Vivamus vel dolor justo. Duis vitae felis sit amet ex efficitur suscipit. Phasellus porta non lorem id mollis.

%h2.double-gap-top Links
.double-padded.border-regular-light-gray
  %p{:style => "margin-top: 0;"}
    %a{:href => "#"} This
    is a text link on a light background.
  %p
    %a.c-visited-color{:href => "#"} This
    is a visited link.
  .bg-gray-dark.padded.c-white.dark-background-link
    %a{:href => "#"} This
    is a text link on a dark background.

%pre
  %code
    :preserve
      %a{:href => "#"} This
      is a text link on a light background.

      %a.c-visited-color{:href => "#"} This
      is a visited link.

      .bg-gray-dark.padded.c-white.dark-background-link
        %a{:href => "#"} This
        is a text link on a dark background.


.double-padded.border-regular-light-gray
  %h4 Accessibility
  %ul
    %li Users should be able to tab to navigate between links.
    %li Users should be able to activate a link when pressing ‘Enter’ on their keyboard.
    %li Users should be able to identify links without relying on color alone.
    %li Users should be able to activate hover and focus states with both a mouse and a keyboard.
