/////////////////////////////////////////

// - Colors- //

/////////////////////////////////////////

$lightest-blue: #f5f5f5;
$light-blue: #1ba7fa;
$medium-blue: #2c7dae;
$dark-blue: #053d53;

$light-green: #3fbfad;
$medium-green: #2b8377;
$dark-green: #065144;

$white: #fff;
$white-smoke: #f5f5f5;
$lightest-grey: #e8e8e8;
$light-grey: #d4d4d4;
$medium-grey: #b1b1b1;
$dark-grey: #767676;
$darkest-grey: #050505;
$transparent-black: rgba(0, 0, 0, .7);

$yellow: #e8d41c;
$orange: #fa8d29;
$red: #e3263d;
$error-red: #b73609;

/////////////////////////////////////////

// - Color Helpers - //

/////////////////////////////////////////

.c-lightest-blue {color: $lightest-blue;}
.c-light-blue {color: $light-blue;}
.c-medium-blue {color: $medium-blue;}
.c-dark-blue {color: $dark-blue;}

.c-light-green {color: $light-green;}
.c-medium-green {color: $medium-green;}
.c-dark-green {color: $dark-green;}

.c-white {color: $white;}
.c-lightest-grey {color: $lightest-grey;}
.c-light-grey {color: $light-grey;}
.c-medium-grey {color: $medium-grey;}
.c-dark-grey {color: $dark-grey;}
.c-darkest-grey {color: $darkest-grey;}

.c-yellow {color: $yellow;}
.c-orange {color: $orange;}
.c-red {color: $red;}

.bg-lightest-blue {background-color: $lightest-blue;}
.bg-light-blue {background-color: $light-blue;}
.bg-medium-blue {background-color: $medium-blue;}
.bg-dark-blue {background-color: $dark-blue;}

.bg-light-green {background-color: $light-green;}
.bg-medium-green {background-color: $medium-green;}
.bg-dark-green {background-color: $dark-green;}

.bg-white {background-color: $white;}
.bg-lightest-grey {background-color: $lightest-grey;}
.bg-light-grey {background-color: $light-grey;}
.bg-medium-grey {background-color: $medium-grey;}
.bg-dark-grey {background-color: $dark-grey;}
.bg-darkest-grey {background-color: $darkest-grey;}

.bg-yellow {background-color: $yellow;}
.bg-orange {background-color: $orange;}
.bg-red {background-color: $red;}


/////////////////////////////////////////

// - Need Refactoring - //

/////////////////////////////////////////

.c-gray {color: $darkest-grey;}
