/////////////////////////////////////////

// - Font Families - //

/////////////////////////////////////////

$font-family: Source-Sans-Pro, "Segoe UI", Tahoma, sans-serif;


/////////////////////////////////////////

// - Font Weights - //

/////////////////////////////////////////

$extralight-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

/////////////////////////////////////////

// - Font Sizes - //

/////////////////////////////////////////

$small-font: 1.4rem;
$base-font: 1.7rem;
$large-font: 2.2rem;
$larger-font: 2.6rem;
$largest-font: 3.2rem;

/////////////////////////////////////////

// - Spacing - //

/////////////////////////////////////////

$base-spacing: 1rem;
$half-spacing: $base-spacing / 2;
$double-spacing: $base-spacing * 2;

/////////////////////////////////////////

// - Border Width - //

/////////////////////////////////////////

$thin-border: 1px;
$regular-border: 2px;

/////////////////////////////////////////

// - Border Radius - //

/////////////////////////////////////////

$small-border-radius: 1px;
$base-border-radius: 2px;
$large-border-radius: 3px;


