@import 'colors';
/////////////////////////////////////////

// - Font Families - //

/////////////////////////////////////////

$font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
$code-font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;
$icon-font-family: 'FontAwesome';

/////////////////////////////////////////

// - Font Weights - //

/////////////////////////////////////////

$extralight-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

/////////////////////////////////////////

// - Font Sizes - //

/////////////////////////////////////////

$small-font: 1.5rem;
$base-font: 1.7rem;
$large-font: 2.4rem;
$larger-font: 3rem;
$largest-font: 4rem;

/////////////////////////////////////////

// - Spacing - //

/////////////////////////////////////////

$base-spacing: 1.5rem;
$half-spacing: $base-spacing / 2;
$double-spacing: $base-spacing * 2;

/////////////////////////////////////////

// - Border Width - //

/////////////////////////////////////////

$thin-border: 1px;
$regular-border: 2px;

/////////////////////////////////////////

// - Border Radius - //

/////////////////////////////////////////

$small-border-radius: 1px;
$base-border-radius: 2px;
$large-border-radius: 3px;

/////////////////////////////////////////

// - Border Error Styling - //

/////////////////////////////////////////

%error-border {
  border: .1rem solid $red;
  width: calc(100% +1.9rem);
}

