@import 'colors';
/////////////////////////////////////////

// - Accessibility - //

/////////////////////////////////////////

.sr-only {
  left: -999em;
  position: absolute;
}

.skipnav {
  background: transparent;
  color: $darkest-grey;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 100;
}

.skipnav:focus {
  background: $white;
  left: 0;
  outline: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
