/////////////////////////////////////////

// - Alerts - //

/////////////////////////////////////////

.alert {
  background-color: $gray-lightest;
  background-position: 1rem 2rem;
  background-repeat: no-repeat;
  background-size: 4rem;
  margin-top: 1.5em;
  padding: 1em;

  ul {
    margin-bottom: 0;
    margin-top: 1em;
  }
}

@media screen and (min-width: 600px) {
  .alert {
    background-size: 5.2rem;
  }
}

.alert-icon {
  display: table-cell;
  padding-right: 1rem;
}

.alert-body {
  display: table-cell;
  padding-left: 3.5rem;
  vertical-align: top;
}

@media screen and (min-width: 600px) {
  .alert-body {
    padding-left: 5rem;
  }
}

.alert-heading {
  margin-bottom: .3rem;
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  .alert-heading {
    margin-top: .3rem;
  }
}

.alert-text {
  font-family: $font-family;
  margin-bottom: 0;
  margin-top: 0;
}

.alert-success {
  background-color: $green-lightest;
  background-image: url('success.png');
  background-image: url('success.svg');
  border: 0;
  border-radius: 0;
  color: $primary-base;
}

.alert-warning {
  background-color: $gold-lightest;
  background-image: url('warning.png');
  background-image: url('warning.svg');
  border: 0;
  border-radius: 0;
  color: $primary-base;
}

.alert-danger {
  background-color: $secondary-red-lightest;
  background-image: url('error.png');
  background-image: url('error.svg');
  border: 0;
  border-radius: 0;
  color: $primary-base;
}

.alert-info {
  background-color: $primary-blue-alt-lightest;
  background-image: url('info.png');
  background-image: url('info.svg');
  border: 0;
  border-radius: 0;
  color: $primary-base;
}
