/////////////////////////////////////////

// - Alerts - //

/////////////////////////////////////////

.input-error {
  position: relative;

  input {
    @extend %error-border;
  }

  textarea {
    @extend %error-border;
  }

  select {
    @extend %error-border;
  }

  label {
    margin-top: 0;
  }

  .input-inline {
    border: .1rem solid $light-grey;
    width: inherit;
  }
}

.input-error-label {
  display: block;
  font-size: 1.5rem;
  font-weight: $normal-weight;
}

.input-error-message {
  color: $red;
  display: block;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.input-error-message:first-child::before {
  content: '\f071';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-right: .5rem;
  text-decoration: inherit;
}

.input-error-message:not(:first-child) {
  padding-left: 2rem;
}

.alert-message {
  background-color: $white-smoke;
  display: table;
  margin-top: $base-spacing;
  width: 100%;

  .alert-icon {
    display: table-cell;
    font-size: $large-font;
    padding: $half-spacing $base-spacing;
    text-align: center;
    vertical-align: middle;
    width: 5.4rem;
  }

  .alert-text {
    display: table-cell;
    margin-left: $base-spacing;
    padding: $base-spacing;
  }
}

.info-message {
  .alert-icon {
    background-color: $medium-blue;
    color: $white;
  }
}

.error-message {
  .alert-icon {
    background-color: $red;
    color: $white;
  }
}
