/////////////////////////////////////////

// - Buttons - //

/////////////////////////////////////////

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 10rem;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  font-size: 1.7rem;
  -webkit-font-smoothing: antialiased;
  font-weight: $bold-weight;
  line-height: 1;
  margin-left: .5em;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;

  &.btn-default {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $dark-grey;
    color: $dark-grey;
  }

  &.btn-default:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $darkest-grey;
    color: $darkest-grey;
  }

  &.btn-default:focus {
    box-shadow: inset 0 0 0 2px $primary-darkest-blue, 0 0 3px $focus-color, 0 0 7px $focus-color;
    color: $darkest-grey;
  }

  &.btn-default:active {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $darkest-grey;
    color: $darkest-grey;
  }

  &.btn-primary {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $medium-blue;
    color: $medium-blue;
  }

  &.btn-primary:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $dark-blue;
    color: $dark-blue;
  }

  &.btn-primary:focus {
    box-shadow: inset 0 0 0 2px $primary-darkest-blue, 0 0 3px $focus-color, 0 0 7px $focus-color;
    color: $dark-blue;
  }

  &.btn-primary:active {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $dark-blue;
    color: $dark-blue;
  }

  &.btn-block {
    margin-left: 0;
    margin-top: $double-spacing;
  }
}

.btn-lg {
  font-size: 1.9rem;
  padding: 1.5rem 3rem;
}

@media screen and (max-width: 481px) {
  .btn {
    width: 100%;
  }
}

.btn:disabled:hover, {
  background-color: $gray-lighter;
  border: 0;
  box-shadow: none;
  color: $gray-dark;
  cursor: not-allowed;
}

.btn:disabled {
  background-color: $gray-lighter;
  border: 0;
  box-shadow: none;
  color: $gray-dark;
  cursor: not-allowed;
}

.input-type-date {
  background-image: url('calendar.svg');
  background-position: 99%;
  background-repeat: no-repeat;
  background-size: 2.5rem;
}

.input-type-autocompleter,
.react-autosuggest__input {
  background-image: url('search.svg');
  background-position: 99%;
  background-repeat: no-repeat;
  background-size: 2.5rem;
}
