/////////////////////////////////////////

// - Cards - //

/////////////////////////////////////////

.card {
  background-color: $white;

  label {
    margin-top: 3rem;
  }

  .c-gray {
    color: $coal;
  }

  .card-header {
    border-bottom: .1rem solid $dark-sand;
    display: block;
    font-size: $large-font;
    overflow: hidden;
    padding: $base-spacing $double-spacing;

    span {
      float: left;
      font-weight: $normal-weight;
      margin: 0;
      padding: 0;
    }

    a {
      float: right;
      text-decoration: none;
    }

    button {
      background: none;
      border: none;
    }
  }

  .card-body {
    border-top: 0;
    padding: 0 $double-spacing $double-spacing;

    .btn {
      margin-bottom: $base-spacing;
      margin-top: $double-spacing;
    }

    @media screen and (max-width: 767px) {
      .centered {
        margin-left: $base-spacing;
        margin-right: $base-spacing;
      }

      .btn {
        margin-bottom: 0;
        margin-top: $base-spacing;
      }
    }
  }

  &.edit {
    border-left: .7rem solid $light-blue;
  }
}
