/////////////////////////////////////////

// - Cards - //

/////////////////////////////////////////

.card {
  background-color: $white;
  color: #darkest-grey;

  label {
    color: $dark-grey;
    margin-top: 3rem;
  }

  .card-header {
    border-bottom: .1rem solid $lightest-grey;
    display: block;
    font-size: $large-font;
    overflow: hidden;
    padding: $base-spacing $double-spacing;

    span {
      float: left;
      font-weight: $normal-weight;
      margin: 0;
      padding: 0;
    }

    a {
      float: right;
      text-decoration: none;
    }

    button {
      background: none;
      border: none;
    }
  }

  .card-body {
    border-top: 0;
    padding: 0 $double-spacing $double-spacing;

    @media screen and (max-width: 767px) {
      .centered {
        margin-left: $base-spacing;
        margin-right: $base-spacing;
      }
    }
  }

  &.edit {
    border-left: .7rem solid $medium-blue;
  }
}
