@import 'constants';
/////////////////////////////////////////

// - Forms - //

/////////////////////////////////////////

input,
textarea:required {
  box-shadow: none;
}

input,
textarea,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  border: .1rem solid $light-grey;
  border-radius: 0;
  box-sizing: border-box;
  color: $darkest-grey;
  display: block;
  font-size: 1.7rem;
  height: 4.4rem;
  line-height: 1.3;
  max-width: 100%;
  outline: none;
  padding: 1rem .7em;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 3px $medium-blue, 0 0 7px $medium-blue;
}

label {
  color: $dark-blue;
  display: block;
  font-size: $small-font;
  font-weight: $normal-weight;
  margin-top: 2rem;
}

textarea {
  height: 16rem;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('arrow-down.png');
  background-image: url('arrow-down.svg');
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}

legend {
  border-bottom: .1rem solid $light-grey;
  margin-bottom: 0;
}

.fieldset-inputs label {
  margin-top: 0;
}

.form-hint {
  color: $light-grey;
  font-family: $font-family;
  margin-bottom: 0;
}

input[type='checkbox'],
input[type='radio'] {
  clip: rect(1px, 1px, 1px, 1px);
  margin-left: -2rem;
  position: absolute;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
  font-weight: $normal-weight;
  margin-bottom: .5em;
}

input[type='checkbox'] + label::before,
input[type='radio'] + label::before {
  background: $white;
  border-radius: .3rem;
  box-shadow: 0 0 0 1px $light-grey;
  content: '\a0';
  display: inline-block;
  height: 1.8rem;
  line-height: 1.8rem;
  margin-right: .6em;
  text-indent: .15em;
  vertical-align: middle\0;
  width: 1.8rem;
}

input[type='radio'] + label::before {
  border-radius: 100%;
  box-shadow: 0 0 0 2px $white, 0 0 0 3px $light-grey;
  height: 1.6rem;
  line-height: 1.6rem;
  width: 1.6rem;
}

input[type='checkbox']:checked + label::before,
input[type='radio']:checked + label::before {
  background-color: $medium-blue;
  box-shadow: 0 0 0 1px $medium-blue;
}

input[type='radio']:checked + label::before {
  box-shadow: 0 0 0 2px $white, 0 0 0 4px $medium-blue;
}

input[type='radio']:focus + label::before {
  box-shadow: 0 0 0 2px $white, 0 0 0 4px $medium-blue, 0 0 3px 4px $medium-blue, 0 0 7px 4px $medium-blue;
}

input[type='checkbox']:checked + label::before {
  background-image: url('correct8.png');
  background-image: url('correct8.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

input[type='checkbox']:focus + label::before {
  box-shadow: 0 0 0 1px $white, 0 0 0 3px $medium-blue;
}

input[type='checkbox']:disabled + label {
  color: $light-grey;
}

input[type='checkbox']:disabled + label::before,
input[type='radio']:disabled + label::before {
  background: $light-grey;
  box-shadow: 0 0 0 1px $light-grey;
  cursor: not-allowed;
}

.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: list-item;
    margin: 0;
  }

  li::before {
    display: none;
  }

  li::after {
    display: none;
  }
}

.required::after {
  content: ' (required)';
}

.highlighted {
  em {
    background-color: $orange;
    font-style: normal;
    font-weight: bold;
  }
}

.masked-input {
  letter-spacing: 2px;
}
