// Helpers //

.no-pad {
  padding: 0;
}

.no-gap {
  margin: 0;
}

.half-padded {
  padding: $half-spacing;
}

.padded {
  padding: $base-spacing;
}

.double-padded {
  padding: $double-spacing;
}

.half-margin {
  padding: $half-spacing;
}

.margin {
  padding: $base-spacing;
}

.double-margin {
  padding: $double-spacing;
}

.half-pad-top {
  padding-top: $half-spacing;
}

.pad-top {
  padding-top: $base-spacing;
}

.double-pad-top {
  padding-top: $double-spacing;
}

.half-pad-bottom {
  padding-bottom: $half-spacing;
}

.pad-bottom {
  padding-bottom: $base-spacing;
}

.double-pad-bottom {
  padding-bottom: $double-spacing;
}

.half-pad-left {
  padding-left: $half-spacing;
}

.pad-left {
  padding-left: $base-spacing;
}

.double-pad-left {
  padding-left: $double-spacing;
}

.half-pad-right {
  padding-right: $half-spacing;
}

.pad-right {
  padding-right: $base-spacing;
}

.double-pad-right {
  padding-right: $double-spacing;
}

.half-gap-top {
  margin-top: $half-spacing;
}

.gap-top {
  margin-top: $base-spacing;
}

.double-gap-top {
  margin-top: $double-spacing;
}

.half-gap-bottom {
  margin-bottom: $half-spacing;
}

.gap-bottom {
  margin-bottom: $base-spacing;
}

.double-gap-bottom {
  margin-bottom: $double-spacing;
}

.half-gap-left {
  margin-left: $half-spacing;
}

.gap-left {
  margin-left: $base-spacing;
}

.double-gap-left {
  margin-left: $double-spacing;
}

.half-gap-right {
  margin-right: $half-spacing;
}

.gap-right {
  margin-right: $base-spacing;
}

.double-gap-right {
  margin-right: $double-spacing;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
