/////////////////////////////////////////

// - Lists - //

/////////////////////////////////////////


.list-item {
  background-color: $lightest-blue;
  margin: $double-spacing 0 $double-spacing;;
  padding: $base-spacing 0;
  position: relative;
}

.list-item__a {
  font-size: 2rem;
  position: absolute;
  right: 1.3rem;
  top: .7rem;
}
