/////////////////////////////////////////

// - Lists - //

/////////////////////////////////////////


.list-item {
  background-color: $lightest-blue;
  margin: $double-spacing 0 0;
  padding: $base-spacing 0;
  position: relative;

  input,
  select {
    background-color: $white;
  }
}

.list-item__a {
  font-size: 2rem;
  position: absolute;
  right: 1.3rem;
  top: .7rem;
}
