@import 'colors';

.Select--multi .Select-control {
  border: none;
  border: .1rem solid $medium-grey;
  border-radius: 0;
  height: auto;
  padding: .6rem .7em;
}

.Select--multi .Select-value {
  background-color: $white;
  border: .2rem solid $cool-blue-light;
  border-radius: 40rem;
  color: $cool-blue-light;
  margin: .3rem;
  padding: .2rem 1rem;
}

.Select--multi .Select-value-icon {
  border-right: 0;
  font-size: 1.5em;
  font-weight: bold;
  line-height: .25em;
  margin: 0;
  padding: 0 .3em 0 .5rem;

  &:hover {
    background: $white;
    color: $cool-blue-light;
  }
}

.Select--multi .Select-value-label {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}

.Select-arrow-zone {
  background-image: url('arrow-down.png');
  background-image: url('arrow-down.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}

.Select-arrow {
  border: none;
}
