@import 'colors';

.page-error {
  background: $error-red;
  color: $white-smoke;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &.collapsed {
    max-height: 10rem;
    overflow: hidden;
  }

  &.expanded {
    height: 100%;
    overflow: scroll;
    padding-bottom: 3rem;
  }

  button {
    background: $transparent-black;
    bottom: 1rem;
    font-size: 1.5rem;
    left: 50%;
    position: absolute;
  }
}

.page-has-remote-error {
  margin-top: 10rem;
}

.error-panel {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  flex-direction: column;
  -ms-flex-pack: center;
  height: 100vh;
  justify-content: center;
}
