.anchor {
  display: block;
  height: 13rem;
  margin-top: -13rem;
  visibility: hidden;
}

#history-card{
  .reporter span, .assignee span, .referral{
  	font-weight: 600;
  }
  .referral-id {
  	color: #767676;
  }
  thead {
    .victim, .perpetrator, .allegations, .disposition {
  	  font-weight: 600;
  	}
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
}
