.anchor {
  display: block;
  height: 13rem;
  margin-top: -13rem;
  visibility: hidden;
}

.history-table {
  .semibold,
  .reporter span,
  .assignee span,
  .worker span,
  .referral {
    font-weight: $semibold-weight;
  }

  .referral-id {
    color: $dark-grey;
  }

  thead {
    .victim,
    .perpetrator,
    .allegations,
    .disposition {
      font-weight: $semibold-weight;
  	}
  }

  table tr:nth-child(even) {
    background-color: $white;
  }
}
