@import 'constants';
/////////////////////////////////////////

// - Tables - //

/////////////////////////////////////////

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  td {
    padding: $base-spacing;
  }

  tr:nth-child(odd) {
    background-color: $white;
  }

  tr:nth-child(even) {
    background-color: $lightest-blue;
  }

  thead {
    font-weight: $semibold-weight;

    tr:nth-child(odd) {
      background-color: transparent;
    }
  }
}

tbody tr th {
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: 0;
  }
}
