/////////////////////////////////////////

// - Typography - //

/////////////////////////////////////////

html {
  font-family: $font-family;
  font-size: 10px;
}

body {
  color: $primary-base;
  font-family: $font-family;
  font-size: 1.7rem;
}

p {
  line-height: 1.5;
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;
}

a {
  color: $primary-blue;
  text-decoration: underline;
}

a:hover,
a:active {
  color: $primary-darker-blue;
}

a:visited {
  color: $visited-color;
}

a:focus {
  box-shadow: 0 0 3px $focus-color, 0 0 7px $focus-color;
  outline: 0;
}

.dark-background-link a {
  color: $gray-lighter;
}

h1,
h2,
h3 {
  clear: both;
  line-height: 1.3;
  margin-bottom: $half-spacing;
  margin-top: $base-spacing * 1.5;
}

h1 {
  font-size: $largest-font;
  font-weight: $light-weight;
  margin-bottom: 0;
}

h2 {
  font-size: $larger-font;
  font-weight: $semibold-weight;
}

h3 {
  font-size: $large-font;
  font-weight: $semibold-weight;
}

h4 {
  font-size: $large-font;
  font-weight: $semibold-weight;
  margin-bottom: 2rem;
  margin-top: 0;
}

pre {
  border: 0;
  border-radius: 0;
  font-family: $code-font-family;
  font-size: $small-font;
  margin: 0;
  max-height: 40rem;
  padding: $double-spacing;
}

code {
  color: $primary-base;
}

ul,
ol {
  margin: 0;
}

.additional-text {
  float: right;
  font-style: italic;
  font-weight: normal;
}

/////////////////////////////////////////

// - Buttons - //

/////////////////////////////////////////

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: .3rem;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  font-size: 1.7rem;
  -webkit-font-smoothing: antialiased;
  font-weight: $bold-weight;
  line-height: 1;
  margin-bottom: .5em;
  margin-right: .5em;
  margin-top: .5em;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;

  &.btn-default {
    background-color: $white;
    box-shadow: inset 0 0 0 2px $primary-blue;
    color: $primary-blue;
  }

  &.btn-default:hover {
    background-color: $white;
    box-shadow: inset 0 0 0 2px $primary-darker-blue;
    color: $primary-darker-blue;
  }

  &.btn-default:focus {
    background-color: $white;
    box-shadow: inset 0 0 0 2px $primary-darkest-blue, 0 0 3px $focus-color, 0 0 7px $focus-color;
  }

  &.btn-default:active {
    background-color: $white;
    box-shadow: inset 0 0 0 2px $primary-darkest-blue;
    color: $primary-darkest-blue;
  }

  &.btn-primary {
    background-color: $primary-blue;
    color: $white;
  }

  &.btn-primary:hover {
    background-color: $primary-darker-blue;
    border-bottom: 0;
    color: $white;
    text-decoration: none;
  }

  &.btn-primary:focus {
    box-shadow: 0 0 3px $focus-color, 0 0 7px $focus-color;
  }

  &.btn-primary:active {
    background-color: $primary-darkest-blue;
  }
}

.btn-lg {
  font-size: 1.9rem;
  padding: 1.5rem 3rem;
}

@media screen and (max-width: 481px) {
  .btn {
    width: 100%;
  }
}

.btn:disabled:hover, {
  background-color: $gray-lighter;
  border: 0;
  box-shadow: none;
  color: $gray-dark;
  cursor: not-allowed;
}

.btn:disabled {
  background-color: $gray-lighter;
  border: 0;
  box-shadow: none;
  color: $gray-dark;
  cursor: not-allowed;
}

/////////////////////////////////////////

// - Forms - //

/////////////////////////////////////////

input,
textarea,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid $gray;
  border-radius: 0;
  box-sizing: border-box;
  color: $primary-base;
  display: block;
  font-size: 1.7rem;
  height: 4.4rem;
  line-height: 1.3;
  margin: .2em 0;
  max-width: 46rem;
  outline: none;
  padding: 1rem .7em;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 3px $focus-color, 0 0 7px $focus-color;
}

.input-error {
  border-left: 4px solid $secondary-red-dark;
  margin-top: 3rem;
  padding-bottom: .8rem;
  padding-left: 1.5rem;
  padding-top: .8rem;
  position: relative;
  right: 1.9rem;

  input {
    border: 3px solid $secondary-red-dark;
    width: calc(100% +1.9rem);
  }

  textarea {
    border: 3px solid $secondary-red-dark;
    width: calc(100% +1.9ream);
  }

  select {
    border: 3px solid $secondary-red-dark;
    width: calc(100% +1.9rem);
  }

  label {
    margin-top: 0;
  }

  .input-inline {
    border: 1px solid $gray;
    width: inherit;
  }

  .input-inline-error {
    border: 3px solid $secondary-red-dark;
  }
}

.input-error-label {
  display: block;
  font-size: 1.7rem;
  font-weight: $bold-weight;
}

.input-error-message {
  color: $secondary-red-dark;
  display: block;
  font-size: 1.7rem;
  font-weight: $bold-weight;
  padding-bottom: 3px;
  padding-top: 3px;
}

label {
  display: block;
  font-weight: $normal-weight;
  margin-top: 3rem;
  max-width: 46rem;
}

textarea {
  height: 16rem;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $white;
  background-image: url('arrow-down.png');
  background-image: url('arrow-down.svg');
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}

legend {
  font-size: 3rem;
  font-weight: $bold-weight;
}

.fieldset-inputs label {
  margin-top: 0;
}

.form-hint {
  color: $gray;
  font-family: $font-family;
  margin-bottom: 0;
}

input[type='checkbox'],
input[type='radio'] {
  margin-left: -2rem;
  opacity: 0;
  position: absolute;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
  font-weight: $normal-weight;
  margin-bottom: .5em;
}

input[type='checkbox'] + label::before,
input[type='radio'] + label::before {
  background: $white;
  border-radius: .3rem;
  box-shadow: 0 0 0 1px $gray;
  content: '\a0';
  display: inline-block;
  height: 1.8rem;
  line-height: 1.8rem;
  margin-right: .6em;
  text-indent: .15em;
  vertical-align: middle\0;
  width: 1.8rem;
}

input[type='radio'] + label::before {
  border-radius: 100%;
  box-shadow: 0 0 0 2px $white, 0 0 0 3px $gray;
  height: 1.6rem;
  line-height: 1.6rem;
  width: 1.6rem;
}

input[type='checkbox']:checked + label::before,
input[type='radio']:checked + label::before {
  background-color: $primary-blue;
  box-shadow: 0 0 0 1px $primary-blue;
}

input[type='radio']:checked + label::before {
  box-shadow: 0 0 0 2px $white, 0 0 0 4px $primary-blue;
}

input[type='radio']:focus + label::before {
  box-shadow: 0 0 0 2px $white, 0 0 0 4px $primary-blue, 0 0 3px 4px $focus-color, 0 0 7px 4px $focus-color;
}

input[type='checkbox']:checked + label::before {
  background-image: url('correct8.png');
  background-image: url('correct8.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

input[type='checkbox']:focus + label::before {
  box-shadow: 0 0 0 1px $white, 0 0 0 3px $primary-blue;
}

input[type='checkbox']:disabled + label {
  color: $gray;
}

input[type='checkbox']:disabled + label::before,
input[type='radio']:disabled + label::before {
  background: $gray-lighter;
  box-shadow: 0 0 0 1px $gray-light;
  cursor: not-allowed;
}

.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: list-item;
    margin: 0;
  }

  li::before {
    display: none;
  }

  li::after {
    display: none;
  }
}

/////////////////////////////////////////

// - Borders - //

/////////////////////////////////////////

.border-thin-light-gray {
  border: $thin-border solid $gray-lightest;
}

.border-thin-dark-gray {
  border: $thin-border solid $gray;
}

.border-regular-light-gray {
  border: $regular-border solid $gray-lightest;
}

.border-regular-dark-gray {
  border: $regular-border solid $gray;
}

/////////////////////////////////////////

// - Alerts - //

/////////////////////////////////////////

.alert {
  background-color: $gray-lightest;
  background-position: 1rem 2rem;
  background-repeat: no-repeat;
  background-size: 4rem;
  margin-top: 1.5em;
  padding: 1em;

  ul {
    margin-bottom: 0;
    margin-top: 1em;
  }
}

@media screen and (min-width: 600px) {
  .alert {
    background-size: 5.2rem;
  }
}

.alert-icon {
  display: table-cell;
  padding-right: 1rem;
}

.alert-body {
  display: table-cell;
  padding-left: 3.5rem;
  vertical-align: top;
}

@media screen and (min-width: 600px) {
  .alert-body {
    padding-left: 5rem;
  }
}

.alert-heading {
  margin-bottom: .3rem;
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  .alert-heading {
    margin-top: .3rem;
  }
}

.alert-text {
  font-family: $font-family;
  margin-bottom: 0;
  margin-top: 0;
}

.alert-success {
  background-color: $green-lightest;
  background-image: url('success.png');
  background-image: url('success.svg');
  border: 0;
  border-radius: 0;
  color: $primary-base;
}

.alert-warning {
  background-color: $gold-lightest;
  background-image: url('warning.png');
  background-image: url('warning.svg');
  border: 0;
  border-radius: 0;
  color: $primary-base;
}

.alert-danger {
  background-color: $secondary-red-lightest;
  background-image: url('error.png');
  background-image: url('error.svg');
  border: 0;
  border-radius: 0;
  color: $primary-base;
}

.alert-info {
  background-color: $primary-blue-alt-lightest;
  background-image: url('info.png');
  background-image: url('info.svg');
  border: 0;
  border-radius: 0;
  color: $primary-base;
}

/////////////////////////////////////////

// - Tables - //

/////////////////////////////////////////

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  thead {
    font-weight: $semibold-weight;
  }

  td {
    padding: $base-spacing;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: 0;
  }}

/////////////////////////////////////////

// - Navigation - //

/////////////////////////////////////////

.sidenav-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    display: list-item;
    margin: 0;
  }

  > li::before {
    display: none;
  }

  > li::after {
    display: none;
  }

  li {
    border-top: 1px solid $gray;
    font-size: 1.7rem;

    &:first-child {
      border-top: 0;
    }
  }

  a {
    border: 0;
    display: block;
    line-height: 1.3;
    padding: .85rem 1rem .85rem 1.8rem;
    text-decoration: none;

    &:hover {
      background-color: $gray-lightest;
      color: $primary-blue;
      text-decoration: none;
    }

    &:focus {
      position: relative;
      z-index: 1;
    }

    &.current {
      border-left: 4px solid $primary-blue;
      color: $primary-blue;
      font-weight: 700;
      padding-left: 1.4rem;
    }
  }
}

.sidenav-sub-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  > li {
    display: list-item;
    margin: 0;
  }

  > li::before {
    display: none;
  }

  > li::after {
    display: none;
  }

  li {
    border: 0;
    font-size: 1.5rem;
  }

  a {
    line-height: 1.3;
    padding-left: 2.8rem;

    &:hover {
      border: 0;
      padding-left: 2.8rem;
    }

    &.current {
      border: 0;
      padding-left: 2.8rem;
    }
  }

  .sidenav-sub-list a {
    padding-left: 3.8rem;

    &:hover {
      padding-left: 3.8rem;
    }
  }
}

/////////////////////////////////////////

// - Accessibility - //

/////////////////////////////////////////

.sr-only {
  left: -999em;
  position: absolute;
}

.skipnav {
  background: transparent;
  color: $primary-base;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 100;
}

.skipnav:focus {
  background: $white;
  left: 0;
  outline: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/////////////////////////////////////////

// - Cards - //

/////////////////////////////////////////

.card {
  .card-header {
    background-color: $gray-lightest;
    display: block;
    overflow: hidden;
    font-size: $large-font;
    padding: $base-spacing / 1.5  $base-spacing;

    h3 {
      float: left;
      font-weight: $extralight-weight;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }

    .fa {
      float: right;
      text-decoration: none;
      top: $base-spacing * .2;
      position: relative;

    }
  }

  .card-body {
    border: $regular-border solid $gray-lightest;
    border-top: 0;
    padding: $base-spacing;
  }

  &.edit {
    .card-header {
      background-color: $cool-blue-light;
      color: $white;

      .fa {
        color: $white;
      }
    }

    .card-body {
      border-color: $cool-blue-lighter;
    }
  }
}
