/////////////////////////////////////////

// - Typography - //

/////////////////////////////////////////

html {
  font-family: $font-family;
  font-size: 10px;
}

body {
  font-family: $font-family;
  font-size: 1.7rem;
  color: $primary-base;
}

p {
  line-height: 1.5;
  margin-bottom: 1em;
  margin-top: 1em;
}

a {
  color: $primary-blue;
  text-decoration: underline;
}

a:hover, a:active {
  color: $primary-darker-blue;
}

a:visited {
  color: $visited-color;
}

a:focus {
  box-shadow: 0 0 3px $focus-color, 0 0 7px $focus-color;
  outline: 0;
}

.dark-background-link a {
	color: $gray-lighter;
}

h1, h2, h3 {
  clear: both;
  line-height: 1.3;
  margin-bottom: $half-spacing;
  margin-top: $base-spacing * 1.5;
}

h1 {
  font-size: $largest-font;
  font-weight: $semibold-weight;
}

h2 {
  font-size: $larger-font;
  font-weight: $semibold-weight;
}

h3 {
  font-size: $large-font;
  font-weight: $semibold-weight;
}

h4 {
  font-size: $large-font;
  font-weight: $semibold-weight;
  margin-top: 0;
}

p {
	margin-bottom: $base-spacing;
  margin-top: $base-spacing;
  line-height: 1.5;
}

pre {
  border-radius: 0;
  border: none;
  padding: $double-spacing;
  font-family: $code-font-family;
  max-height: 40rem;
  margin: 0;
  font-size: $small-font;
}

code {
  color: $primary-base;
}

/////////////////////////////////////////

// - Buttons - //

/////////////////////////////////////////

.primary-button, button, [type="button"], [type="submit"], [type="reset"], [type="image"] {
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $primary-blue;
  border: 0;
  border-radius: 0.3rem;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  font-size: 1.7rem;
  font-weight: $bold-weight;
  line-height: 1;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 481px) {
  .primary-button, button, [type="button"], [type="submit"], [type="reset"], [type="image"] {
    width: auto;
  }
}

.primary-button:hover, button:hover,[type="button"]:hover, [type="submit"]:hover, [type="reset"]:hover, [type="image"]:hover {
  background-color: $primary-darker-blue;
  border-bottom: 0;
  color: $white;
  text-decoration: none;
}

.primary-button:focus, button:focus,[type="button"]:focus, [type="submit"]:focus, [type="reset"]:focus, [type="image"]:focus {
  box-shadow: 0 0 3px $focus-color, 0 0 7px $focus-color;
}

.primary-button:active, button:active,[type="button"]:active, [type="submit"]:active, [type="reset"]:active, [type="image"]:active {
  background-color: $primary-darkest-blue;
}

.secondary-button, button, [type="button"], [type="submit"], [type="reset"], [type="image"] {
  background-color: $white;
  box-shadow: inset 0 0 0 2px $primary-blue;
  color: $primary-blue;
}

.secondary-button:hover, button:hover,[type="button"]:hover, [type="submit"]:hover, [type="reset"]:hover, [type="image"]:hover {
  background-color: $white;
  box-shadow: inset 0 0 0 2px $primary-darker-blue;
  color: $primary-darker-blue;
}

.secondary-button:active, button:active,[type="button"]:active, [type="submit"]:active, [type="reset"]:active, [type="image"]:active {
  background-color: $white;
  box-shadow: inset 0 0 0 2px $primary-darkest-blue;
  color: $primary-darkest-blue;
}

.secondary-button:focus, button:focus,[type="button"]:focus, [type="submit"]:focus, [type="reset"]:focus, [type="image"]:focus {
  background-color: $white;
  box-shadow: inset 0 0 0 2px $primary-darkest-blue, 0 0 3px $focus-color, 0 0 7px $focus-color;
}

.big-button, button.big-button, [type="button"].big-button, [type="submit"].big-button, [type="reset"].big-button, [type="image"].big-button {
  font-size: 1.9rem;
  padding: 1.5rem 3rem;
}

[type="submit"]:disabled, .disabled-button {
  background-color: $gray-lighter;
  color: $gray-dark;
  pointer-events: none;
  border: 0;
  box-shadow: none;
}

[type="submit"]:disabled:hover, [type="submit"]:disabled:active, , [type="submit"]:disabled:focus, {
  background-color: $gray-lighter;
  border: 0;
  box-shadow: none;
  color: $gray-dark;
}


/////////////////////////////////////////

// - Forms - //

/////////////////////////////////////////

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid $gray;
  border-radius: 0;
  box-sizing: border-box;
  color: $primary-base;
  display: block;
  font-size: 1.7rem;
  height: 4.4rem;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  outline: none;
  padding: 1rem 0.7em;
  width: 100%;
}

input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="file"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
textarea:focus,
select:focus
{
  box-shadow: 0 0 3px $focus-color, 0 0 7px $focus-color;
}

.input-error {
  border-left: 4px solid $secondary-red-dark;
  margin-top: 3rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-top: 0.8rem;
  position: relative;
  right: 1.9rem;
}

.input-error input,
.input-error textarea,
.input-error select {
  border: 3px solid $secondary-red-dark;
  width: calc(100% + 1.9rem);
}

.input-error label {
  margin-top: 0;
}

.input-error .input-inline {
  border: 1px solid $gray;
  width: inherit;
}

.input-error .input-inline-error {
  border: 3px solid $secondary-red-dark;
}

.input-error-label {
  display: block;
  font-size: 1.7rem;
  font-weight: $bold-weight;
}

.input-error-message {
  color: $secondary-red-dark;
  display: block;
  font-size: 1.7rem;
  font-weight: $bold-weight;
  padding-bottom: 3px;
  padding-top: 3px;
}

label {
  display: block;
  margin-top: 3rem;
  max-width: 46rem;
  font-weight: $normal-weight;
}

textarea {
  height: 16rem;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $white;
  background-image: url("arrow-down.png");
  background-image: url("arrow-down.svg");
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}

legend {
  font-size: 3rem;
  font-weight: $bold-weight;
}

.fieldset-inputs label {
  margin-top: 0;
}

.form-hint {
  color: #757575;
  font-family: $font-family;
  margin-bottom: 0;
}

input[type="checkbox"],
input[type="radio"] {
  margin-left: -2rem;
  opacity: 0;
  position: absolute;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  font-weight: $normal-weight;
  margin-bottom: 0.5em;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  background: $white;
  border-radius: 0.3rem;
  box-shadow: 0 0 0 1px #757575;
  content: '\a0';
  display: inline-block;
  height: 1.8rem;
  line-height: 1.8rem;
  margin-right: 0.6em;
  text-indent: 0.15em;
  vertical-align: middle\0;
  width: 1.8rem;
}

input[type="radio"] + label::before {
  box-shadow: 0 0 0 2px $white, 0 0 0 3px #757575;
  height: 1.6rem;
  line-height: 1.6rem;
  width: 1.6rem;
  border-radius: 100%;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  background-color: $primary-blue;
  box-shadow: 0 0 0 1px $primary-blue;
}

input[type="radio"]:checked + label::before {
  box-shadow: 0 0 0 2px $white, 0 0 0 4px $primary-blue;
}

input[type="radio"]:focus + label::before {
  box-shadow: 0 0 0 2px $white, 0 0 0 4px $primary-blue, 0 0 3px 4px $focus-color, 0 0 7px 4px $focus-color;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("correct8.png");
  background-image: url("correct8.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 0 1px $white, 0 0 0 3px $primary-blue;
}

input[type="checkbox"]:disabled + label {
  color: #5b616b;
}

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
  background: #d6d7d9;
  box-shadow: 0 0 0 1px $gray-light;
  cursor: not-allowed;
}

.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.unstyled-list li {
  display: list-item;
  margin: 0;
}

.unstyled-list li::before {
  display: none;
}

.unstyled-list li::after {
  display: none;
}

/////////////////////////////////////////

// - Borders - //

/////////////////////////////////////////

.border-thin-light-gray {
	border: $thin-border solid $gray-lightest;
}

.border-thin-dark-gray {
	border: $thin-border solid $gray;
}

.border-regular-light-gray {
	border: $regular-border solid $gray-lightest;
}

.border-regular-dark-gray {
	border: $regular-border solid $gray;
}

/////////////////////////////////////////

// - Alerts - //

/////////////////////////////////////////

.alert {
  background-color: $gray-lightest;
  background-position: 1rem 2rem;
  background-repeat: no-repeat;
  background-size: 4rem;
  margin-top: 1.5em;
  padding: 1em;
}

@media screen and (min-width: 600px) {
  .alert {
    background-size: 5.2rem;
  }
}

.alert ul {
  margin-bottom: 0;
  margin-top: 1em;
}

.alert-icon {
  display: table-cell;
  padding-right: 1rem;
}

.alert-body {
  display: table-cell;
  padding-left: 3.5rem;
  vertical-align: top;
}

@media screen and (min-width: 600px) {
  .alert-body {
    padding-left: 5rem;
  }
}

.alert-heading {
  margin-bottom: .3rem;
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  .alert-heading {
    margin-top: .3rem;
  }
}

.alert-text {
  font-family: $font-family;
  margin-bottom: 0;
  margin-top: 0;
}

.alert-success {
  color: $primary-base;
  border: 0;
  border-radius: 0;
  background-color: $green-lightest;
  background-image: url("success.png");
  background-image: url("success.svg");
}

.alert-warning {
  color: $primary-base;
  border: 0;
  border-radius: 0;  
  background-color: $gold-lightest;
  background-image: url("warning.png");
  background-image: url("warning.svg");
}

.alert-danger {
  color: $primary-base;
  border: 0;
  border-radius: 0;  
  background-color: $secondary-red-lightest;
  background-image: url("error.png");
  background-image: url("error.svg");
}

.alert-info {
  color: $primary-base;
  border: 0;
  border-radius: 0;  
  background-color: $primary-blue-alt-lightest;
  background-image: url("info.png");
  background-image: url("info.svg");
}

.alert-no_icon {
  background-image: none;
}

/////////////////////////////////////////

// - Tables - //

/////////////////////////////////////////

table {
	width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

	thead {
		font-weight: $semibold-weight;
	}

	td {
		padding: $base-spacing;
	}
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none;
  }}

/////////////////////////////////////////

// - Accessibility - //

/////////////////////////////////////////

.sr-only {
  position: absolute;
  left: -999em;
}

/////////////////////////////////////////

// - Style Guide - //

/////////////////////////////////////////