:javascript
  window.org = {
    intake: {
      config: #{
        Rails.configuration.intake.merge(active_features: Feature.active_features).to_json.html_safe
      }
    }
  }

  Object.freeze(window.org.intake.config)

%meta{ charset: 'utf-8', name: 'viewport', content: 'width=device-width, initial-scale=1' }
%title
  = I18n.t :title
= stylesheet_pack_tag 'application'
= csrf_meta_tags
