!!!
%html
  %head
    = render 'layouts/head'
  %body
    .container
      - Feature.with(:release_one) do
        #app-release-one= yield
      - Feature.without(:release_one) do
        #app= yield
  %footer
    = render 'layouts/footer'
